

body {
  margin: 0px;
  font-family: 'Cinzel', serif;
  background-color: gray;
  width: 100%;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
  text-decoration: underline;
}

navBar {
  display: flex;
  height: 64px;
  z-index: 10;
  background-color: silver;
  position: fixed;
  top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: solid 2px rgba(255, 144, 0, 1);
  border-bottom: solid 2px rgba(255, 144, 0, 1);
  border-right: solid rgba(255, 144, 0, 0.7);
  right: 0px;
  left: 0px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

navBar a {
  display: flex;
  text-decoration: none;
}

logo {
  display: flex;
  align-self: center;

}

logo h1, logo h2 {
  align-self: center;
  font-size: 2em;
  font-weight: bold;
}

logo h1 {
  text-shadow: 2px 2px 2px white;
  color: black;
  opacity: 0.7;
}

logo h2 {
  font-weight: bold;
  color: rgba(255, 144, 0, 0.7);
  text-shadow: 2px 2px 4px white;
}

logo img {
  width: 40px;
  height: auto;
  margin-left: 11px;

}

links {
  display: flex;
  width: 100%;
  justify-content: flex-end;

}

links a {
  text-decoration: none;
  color: black;
}

links ul {
  display: flex;

}

links ul li {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  font-size: 1.5em;
  padding: 0 16px 0 0;
  text-shadow: 2px 2px 2px white;
  color: black;
  opacity: 0.7;
}

sectionOne {
  display: flex;
  background-color: rgba(255, 144, 0, 0.7);
  padding-top: 64px;
  width: 100%;
}

sectionOne img {
  width: 60%;
  height: 100%;
  margin: 32px 0px 32px 24px;
  border-radius: 10px;
  border: solid 2px white;
}

sectionOneContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  margin-left: 40px;
  width: 25%;
  color: cornsilk;
  text-shadow: 2px 2px 4px black;

}

sectionOneContent h1 {
  text-align: left;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

sectionOneContent p {
  width: 100%;
}

sectionOneContent div {
  font-size: 0.8rem;
  width: 100%;
  background-color: gray;
  justify-content: center;
  text-align: center;
  padding: 8px 0px;
  border-radius: 10px;
  border: solid 2px white;
  font-size: 25px;
}

sectionOneContent a {
  display: flex;
  width: 100%;
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
  color: cornsilk;
  font-weight: bold;
  box-shadow: 0px 0px 20px 0px rgb(255, 248, 220);
  border-radius: 10px;
}

sectionTwo {
  display: flex;
  background-color: gray;
  width: 100%;
}

sectionTwo a {
  width: 100%;
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
  color: cornsilk;
  font-weight: bold;
}

sectionTwoContent {
  display: flex;
  flex-wrap: wrap;
  padding-left: 24px;
  width: 60%;
  flex-direction: column;
  color: cornsilk;
  text-shadow: 2px 2px 4px black;
}

sectionTwo img {
  width: 100%;
  margin: 32px 24px 32px 0px;
  align-self: flex-start;
  border-radius: 10px;
  border: solid 2px white;
}

sectionTwoContent h1 {
  margin-top: 0px;
  margin-bottom: 8px;
}

sectionTwoContent h5 {
  margin-top: 0px;
}

slides {
  display: flex;
  flex-direction: column;
  width: 423px;
  margin-left: 24px;
  border-left: solid 2px rgba(255, 144, 0, 0.7);
  color: cornsilk;
  text-shadow: 2px 2px 4px black;

}

.slide {
  display: flex;

}

sectionTwo slides .slide img {
  max-width: 35%;
  height: 100%;
  margin: 16px;
  display: inline;
  border-radius: 10px;
}

.one {
  margin-top: 16px;
}

.two {
  border-top: solid 2px rgba(255, 144, 0, 0.7);


}

.three {
  background-color: rgba(255, 144, 0, 0.7);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.three div {
  padding-bottom: 16px;
}

sectionThree {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 144, 0, 0.7);
  color: cornsilk;
  text-shadow: 2px 2px 4px black;
  justify-content: space-around;
  width: 100%;
}

sectionThree h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 32px 0px 0px 0px;

}

sectionThree h3 {
  margin-bottom: 0px;

}

sectionThree h4 {
  margin-top: 10px;
  border-top-width: 10px;

}

courseTiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 32px;
}

.tile {
  display: inline-flex;
  flex-direction: column;
  background-color: gray;
  margin: 32px;
  max-width: 430.281px;
  border: solid 2px white;
  border-radius: 10px;
}

.tile img {
  height: 220px;
  padding: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.slideText {
  padding: 16px;
}


sectionFour {
  background-color: gray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: cornsilk;
  text-shadow: 2px 2px 4px black;
  width: 100%;
}

sectionFour h1 {
  margin: 0px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

sectionFour video {
  width: 60%;
  margin: 0px 16px 24px 24px;
  align-self: flex-start;
  border-radius: 10px;
  border: solid 2px white;
}

sectionFour img {
  max-height: 100%;
  width: auto;
  margin: 16px;
  border-radius: 10px;
  border: solid 2px white;
}

sectionFour .thesis {
  display: flex;
  flex-direction: row;

}

sectionFour .slide {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgba(255, 144, 0, 0.7);
  border: solid 2px white;
  border-radius: 10px;
  margin-right: 24px;
  margin-bottom: 16px;
}

.slideBox {
  display: flex;
  flex-direction: column;
}

.thesisText {
  display: inline;
  align-self: center;

}

.bottomText {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-left: 24px;
  margin-bottom: 32px;

}

.bottomText h2 {
  margin-top: 0px;
  margin-bottom: 0px;

}

footer {
  display: flex;
  border-top: solid 2px rgba(255, 144, 0, 0.7);
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

footer h4 {
  margin: 32px 14px 32px 14px;
  color: cornsilk;
  text-shadow: 2px 2px 4px black;
}

.termsPrivacy {
  display: flex;
  flex-direction: row;
}

#termsPrivacy.a {
  display: flex;
  text-decoration: none;

}

/* Breakpoint for mobile version */
@media only screen and (min-width : 851px) {
  navBarMobile {
    display: none;
  }

}

@media only screen and (max-width : 850px) {

  logo, links{
    display: none;
  }

  navBarMobile {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding-top: 5px;
  }

  navBarMobile img {
    height: 100%;
    width: auto;

  }

  navBarMobile a {
    display: block;
  }
}
